header {
    margin-bottom:1rem;
    box-shadow: 0 0.3rem 2.5rem #00000080;
}

header > div {
    margin:0 !important;
}

#headerContent {
    padding:10px;
    padding-left:0;
}

.floatRight {
    float:right;
}

/* bu kısmı PageNavigation için ekledim diğer sayfalar patlarsa bundandır */
.floatRight > * {
    float:left;
}

.commentHeader {
    padding:0.5rem 0.9rem;
}
.commentText {
    padding:1rem;
}

.commentText p { 
    text-align: justify;
}

#productImg {
    width:500px;
}

#exclamation {
    color:#d83900;
}

.likedComment {
    color:#2185d0;
}

.dislikedComment {
    color:#db2828;
}


#userIcon {
    font-size:10rem;
}

#hesap {
    background-color:#1391c3;
    color:#eee;
}

#categories button{
    color:#FBFBFF !important;
    margin-left:15px;
    background-color:#01BAEF;
}

#active {
    color:eee;
    background-color:#20BF55 !important;
}


#galleryButtons {
    width:auto;
}

.overflowX {
    overflow-y:auto;
    white-space:nowrap;
}

#imageSliderImg {
    height:500px;
}

.lineHeight80px {
    line-height: 80px !important;
}

.lineHeight120px {
    line-height: 120px !important;
}

#productHeader {
    margin-top:2rem;
    margin-bottom:2rem;
}

#followButton {
    margin: 3rem 0;
}

.commentDate {
    color:#999;
    font-size:0.9rem;
    padding:0.5rem;
}

.barValue {
    float:left;
}

.ratingBar {
    padding-left:1rem;
}

.barStickWrapper {
    float:left;
}

.barStick {
    height:0.8rem;
    margin-top:0.39rem;
    margin-left:4rem;
    border-radius: 40px;
    position: absolute;
    left:0px;
}

.barStickFull {
    background-color:#BBB;
    width:150px;
}

.inputRange {
    margin-left:1rem;
}

.inputRangeLabel {
    display: block;
    float:left;
}

.inputRangeValue {
    display: block;
    float: right;
    margin-left:1rem;
}

.inputRangeWrapper {
    padding: 1rem;
    float: right;
}

#inputRating {
    margin: 1rem 0;
    height: 15rem;
    overflow-y: auto;
}

.yorumlarHeader {
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

/* footer'ı aşağı sabitlemek için*/
html{ height:100%; }

body, #root, #app{ min-height:100%; padding:0; margin:0; position:relative; }

body, #root, #app::after{ content:''; display:block; height:100px; }

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:48px; 
}

/* comment'deki devamını oku butonu*/
.read-all {
    margin-right:2rem;
}

/* comment'deki title */
.comment-header {
    cursor:pointer;
}
.comment-header-wrapper {
    padding:0.1rem;
}

/* header'daki menü (soldaki butonlar) */
#menu {
    margin-top:11px;
}

/* arama çubuğu için */
#search {
    margin-top:9px;
}
#search input {
    width:100%;
}
#search-results {
    width: 100%;
}

/* etiket için */
.tags {
    margin-bottom: 0.6rem;
}

/* seçimi iptal etmek için dokunun uyarısı */
.info-span {
    color: grey !important;
    font-size:0.9rem;
    margin-bottom:1rem;
    display: block;
}

/* productList için */
.notFoundInProductList {
    margin-top:2rem;
}
.productListItemHeader {
    cursor:pointer;
}

/* header */
#logo h1 {
    line-height:60px;
    font-family: 'Dancing Script', cursive;
    padding-left:25px;
    cursor:pointer;
}
