body {
    background-color:#3b555d !important;
}

.comment {
    background-color:#233237 !important;
    color:#eee;
}

#logo h1 a {
    color:#955f31 !important;
}

.comment-header>a {
    color:#eee;
}

.comment-header>a:hover {
    color:#e2b7b7;
}

.comment-text {
    color:#eee;
}

header {
    background-color: #233237;
}

.footer {
    background-color: #233237 !important;
}

/* for product page */
#productHeader > a {
    color:#eee !important;
}


/* profile page, */
.yorumkutusu-header {
    color:#eee !important;
}

.yorumkutusu-a {
    color:#eee !important;
}

.lds-ellipsis div {
    background-color:#eee;
}

.yorumkutusu-label {
    color:#eee !important;
}

.yorumkutusu-input::placeholder {
    color:#333 !important;
}

.yorumkutusu-input:-ms-input-placeholder {
    color:#333 !important;
}

.yorumkutusu-input::-ms-input-placeholder {
    color:#333 !important;
}

.yorumkutusu-a-empty {
    color:#b7d1e2;
    cursor:pointer;
}

.yorumkutusu-a-empty:hover {
    color:#eee;
}
