body {
    background-color:#3b555d !important;
}

.comment {
    background-color:#233237 !important;
    color:#eee;
}

#logo h1 a {
    color:#955f31 !important;
}

.comment-header>a {
    color:#c16060;
}

.comment-header>a:hover {
    color:#e2b7b7;
}

.comment-text {
    color:#eee;
}

header {
    background-color: #233237;
}

.footer {
    background-color: #233237 !important;
}

/* for product page */
#productHeader > a {
    color:#eee !important;
}

.read-all {
    color:#b7d1e2;
    cursor:pointer;
}

.read-all:hover {
    color:#eee;
}
